<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	도메인마다 namespace 를 구현하고
	각각의 crud 에 대한 id 설정 후 쿼리 작성
-->

<mapper namespace="com.singer.mappers.SB02">		
		<insert id="insert"  parameterType="com.singer.vo.SB02Vo">
			insert into SB02 (seq, seq01, parents, text, userid, regdate)
			values (SEQ_SB02.NEXTVAL, #{seq01}, #{parents}, #{text}, #{userid}, #{regdate}) 
		</insert>
		
		<update id="update" parameterType="com.singer.vo.SB02Vo">
			update SB02 
			set text = #{text}
			where seq = #{seq}
			and seq01 = #{seq01}
		</update>
		
		<update id="like" parameterType="com.singer.vo.SB02Vo">
			update SB02 
			set good = (select good from SB02 where seq = #{seq}) + 1
			where seq = #{seq}
		</update>
		
		<update id="hate" parameterType="com.singer.vo.SB02Vo">
			update SB02 
			set good = (select good from SB02 where seq = #{seq}) - 1
			where seq = #{seq}
		</update>
		
		<select id="select" resultType="com.singer.vo.SB02Vo"  parameterType="com.singer.vo.SB02Vo">
			<![CDATA[
			select T.*
			,(select count(*) 
        			from SB02 s2
        			where s2.seq01 = T.seq01
        			and s2.parents = T.seq
      			) as reply
			from
				(select  /*+ INDEX_DESC(SB02 IDX_SB02_1)*/
        			rownum as rown,
					seq as seq,
        			seq01 as seq01,
					text as text, 
					userid as userid,  
					regdate as regdate,
					good as good
				 from SB02 
 				where seq01 = #{seq01}
 				and parents = 0
				and rownum <= #{endRownum}
    			) T
    		where T.rown >= #{startRownum}
    		]]>
		</select>
		
		<select id="selectReply" resultType="com.singer.vo.SB02Vo"  parameterType="com.singer.vo.SB02Vo">
			<![CDATA[
				select  /*+ INDEX_DESC(SB02 IDX_SB02_1)*/
        			rownum as rown,
					seq as seq,
        			seq01 as seq01,
					text as text, 
					userid as userid,  
					regdate as regdate,
					good as good
				 from SB02 
 				where seq01 = #{seq01}	
					and parents = #{parents}
			]]>
		</select>
		
		<select id="selectTotal" resultType="java.lang.Integer"  parameterType="com.singer.vo.SB02Vo">
			<![CDATA[
			select /*+ INDEX_FFS(SB02 IDX_SB02_1)*/
				 count(*) 
  				from SB02 
  				where seq01 = #{seq01}
  				and parents = 0
  			]]>
		</select>
		
		<delete id="delete" parameterType="com.singer.vo.SB02Vo">
			delete from SB02
			where seq = #{seq}
			and seq01 = #{seq01}
		</delete>
		
		<delete id="delete_seq01" parameterType="com.singer.vo.SB02Vo">
			delete from SB02
			where seq01 = #{seq01}
			and parents = #{parents}
		</delete>
		
		<delete id="deleteChild" parameterType="com.singer.vo.SB02Vo">
			delete from SB02
			where seq01 = #{seq01}
			and parents = #{parents}
		</delete>
</mapper>