<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	도메인마다 namespace 를 구현하고
	각각의 crud 에 대한 id 설정 후 쿼리 작성
-->

<mapper namespace="com.singer.mappers.SF01">		
		<insert id="insert"  parameterType="com.singer.domain.entity.sf.SF01Entity">
			insert into SF01 (seq, title, text, userid, regdate, filename, ftpfilename)
			values (SEQ_SF01.NEXTVAL, #{title}, #{text}, #{userid}, #{regdate}, #{filename}, #{ftpfilename}) 
		</insert>
		
		<update id="update" parameterType="com.singer.domain.entity.sf.SF01Entity">
			update SF01 
			set title = #{title},
				text = #{text}
			where seq = #{seq}
		</update>
		
		<insert id="like" parameterType="com.singer.domain.entity.sf.SF01Entity">
			<selectKey  keyProperty="good"  resultType="java.lang.Integer" order="AFTER">
		 		select good from SF01 where seq = #{seq}
		 	</selectKey>
			update SF01 
			set good = (select good from SF01 where seq = #{seq}) + 1
			where seq = #{seq}
		</insert>
		
		<insert id="hate" parameterType="com.singer.domain.entity.sf.SF01Entity">
			<selectKey  keyProperty="good"  resultType="java.lang.Integer" order="AFTER">
		 		select good from SF01 where seq = #{seq}
		 	</selectKey>
			update SF01 
			set good = (select good from SF01 where seq = #{seq}) - 1
			where seq = #{seq}
		</insert>
		
		<update id="click" parameterType="com.singer.domain.entity.sf.SF01Entity">
			update SF01
			set hit = (select hit 
				from SF01
				where seq = #{seq}
			) + 1
			where seq = #{seq}
		</update>
		
		<select id="selectOne" resultType="com.singer.domain.entity.sf.SF01Entity" parameterType="com.singer.domain.entity.sf.SF01Entity">
			SELECT /*+ LEADING(S1 SL1 DC) USE_NL(SL1) USE_NL(DC) */
				S1.seq,
				S1.title,
				S1.text,
				S1.userid,
				S1.regdate,
				S1.hit,
				S1.good,
				S1.filename,
				SL1.goodlog,
				SL1.hatelog,
				NVL(DC.downcnt, 0) AS downcnt
			FROM SF01 S1
			LEFT OUTER JOIN (
				SELECT seq, goodlog, hatelog
				FROM SFG1
				WHERE seq = #{seq} AND sessionid = #{sessionid}
			) SL1 ON S1.seq = SL1.seq
			LEFT OUTER JOIN (
				SELECT /*+ INDEX(SFD1 PK_SFD1) */ seq, COUNT(*) AS downcnt
				FROM SFD1
				WHERE seq = #{seq}
				GROUP BY seq
			) DC ON S1.seq = DC.seq
			WHERE S1.seq = #{seq}
		</select>
		
		<select id="checkUser" resultType="com.singer.domain.entity.sf.SF01Entity" parameterType="com.singer.domain.entity.sf.SF01Entity">
			select 
				S1.seq as seq,
				S1.userid as userid
				 from SF01 S1
			where S1.seq = #{seq}
		</select>
		
		<select id="selectCount" resultType="com.singer.domain.entity.sf.SF01Entity">
			SELECT /*+ INDEX_FFS(SF01 PK_SF01) */ COUNT(*) AS totCnt FROM SF01
		</select>
		
		<select id="select" resultType="com.singer.domain.entity.sf.SF01Entity"  parameterType="com.singer.domain.entity.sf.SF01Entity">
		<![CDATA[
			SELECT /*+ LEADING(S1 R) USE_NL(R) */
				S1.seq,
				S1.title,
				S1.text,
				S1.userid,
				S1.regdate,
				S1.hit,
				S1.good,
				NVL(R.reply, 0) AS reply
			FROM (
				SELECT *
				FROM (
					SELECT /*+ INDEX_DESC(SF01 PK_SF01) */
						ROW_NUMBER() OVER (ORDER BY seq DESC) AS rn,
						seq,
						title,
						text,
						userid,
						regdate,
						hit,
						good
					FROM SF01
				)
				WHERE rn > #{startRownum} AND rn <= #{endRownum}
			) S1
			LEFT OUTER JOIN (
				SELECT /*+ INDEX(SF02 IDX_SF02_1) */ seq01, COUNT(*) AS reply
				FROM SF02
				WHERE parents = 0
				GROUP BY seq01
			) R ON S1.seq = R.seq01
		]]>
		</select>
		
		<select id="selectFind" resultType="com.singer.domain.entity.sf.SF01Entity"  parameterType="com.singer.domain.entity.sf.SF01Entity">
			SELECT /*+ LEADING(T R) USE_NL(R) */
				T.seq,
				T.title,
				T.text,
				T.userid,
				T.regdate,
				T.hit,
				T.good,
				NVL(R.reply, 0) AS reply
			FROM (
				SELECT /*+ INDEX_DESC(SF01 idx_SF01_2) */
					seq,
					title,
					text,
					userid,
					regdate,
					hit,
					good
				FROM SF01
				WHERE 1 = 1
				<if test="userid != null">
					AND userid LIKE #{userid} || '%'
				</if>
				<if test="title != null">
					AND title LIKE #{title} || '%'
				</if>
				ORDER BY regdate DESC
			) T
			LEFT OUTER JOIN (
				SELECT seq01, COUNT(*) AS reply
				FROM SF02
				WHERE parents = 0
				GROUP BY seq01
			) R ON T.seq = R.seq01
		</select>
		
		<delete id="delete" parameterType="com.singer.domain.entity.sf.SF01Entity">
			delete from SF01
			where seq = #{seq}
		</delete>
		
		<select id="selectFile" parameterType="com.singer.domain.entity.sf.SF01Entity" resultType="com.singer.domain.entity.sf.SF01Entity">
			select 
				seq as seq,
				userid as userid,
				filename as filename,
				ftpfilename as ftpfilename
			 from SF01 
			where seq = #{seq}
		</select>
		
		<update id="likelog" parameterType="com.singer.domain.entity.sf.SF01Entity">
			merge into SFG1 S1
				using dual
				on (S1.seq = #{seq}
				and S1.sessionid = #{sessionid})
			when matched then
				update set S1.datelog = #{datelog},
  					S1.goodlog = 'Y'
			when not matched then
				insert (S1.seq, S1.sessionid, S1.datelog, S1.goodlog ) values(#{seq}, #{sessionid}, #{datelog} , 'Y')
		</update>
		
		<update id="hatelog" parameterType="com.singer.domain.entity.sf.SF01Entity">
			merge into SFG1 S1
				using dual
				on (S1.seq = #{seq}
				and S1.sessionid = #{sessionid})
			when matched then
				update set S1.datelog = #{datelog},
  					S1.hatelog = 'Y'
			when not matched then
				insert (S1.seq, S1.sessionid, S1.datelog, S1.hatelog ) values(#{seq}, #{sessionid}, #{datelog} , 'Y')
		</update>
		
		<update id="mergesf01" parameterType="com.singer.domain.entity.sf.SF01Entity">
			merge into SFD1 S1
				using dual
				on (S1.seq = #{seq}
				and S1.userid = #{userid}
				and S1.downuserid = #{downuserid})
			when matched then
				update set S1.regdate = #{regdate}
			when not matched then
				insert (S1.seq, S1.userid, S1.downuserid, S1.regdate ) 
				values(#{seq}, #{userid}, #{downuserid} , #{regdate})
		</update>
		
</mapper>