<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	도메인마다 namespace 를 구현하고
	각각의 crud 에 대한 id 설정 후 쿼리 작성
-->

<mapper namespace="com.singer.mappers.SL01">	
	<select id="selectSL01" resultType="com.singer.vo.SL01Vo"  parameterType="com.singer.vo.SL01Vo">
	select * from
		(select 
			ceil(row_number() over(order by logintime desc) / #{rowPerPage} ) as nowPage,
       		userid as userid,
			logintime as logintime, 
			browser as browser,  
			device as device,
			ip as ip,
			count(*) over() as totCnt
		 from log_login 
		 where 1 = 1
		 	 <if test="userid != null">
			 	and userid like #{userid} || '%'
			 </if>
			 <if test="browser != null">
			 	and browser = #{browser} 
			 </if>
			 <if test="device != null">
			 	and device = #{device} 
			 </if>
		)	
	where nowPage = #{nowPage}
	</select>
	
	<resultMap type="com.singer.vo.SL01Vo" id="SL01VoResult">
		<result column="lcnt" property="lcnt"/>
		<result column="userid" property="userid"/>
		<result column="username" property="username"/>
		<result column="usertype" property="usertype" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
	</resultMap>
	
	<select id="selectSL01Count" resultMap="SL01VoResult"  parameterType="com.singer.vo.SL01Vo">
		select SL.lcnt,
        SL.userid,
        SM.username,
        SM.usertype
  			from
		(select count(*) as lcnt,
 		   userid
  		  from log_login 
  		  where logintime <![CDATA[>]]> #{logintime}
  		  group by userid
  		  order by lcnt desc
		) SL
		inner join SM01 SM
		on (SL.userid = SM.userid)
	</select>	
	
	<insert id="insertLoginlog"  parameterType="com.singer.vo.SL01Vo">
	insert into log_login(userid, logintime, browser, device, ip)
		values (#{userid}, #{logintime}, #{browser}, #{device}, #{ip}) 
	</insert>
	
	<insert id="insertChatlog"  parameterType="com.singer.vo.SL01Vo">
	insert into log_chatting
		(
		username, logdate, message
		<if test="chatroom != null" >
		, chatroom
		</if>
		)
		values (#{username}, #{logdate}, #{message}
		<if test="chatroom != null" >
		, #{chatroom}
		</if>
		) 
	</insert>
	
	<insert id="insertChatFilelog"  parameterType="com.singer.vo.SL01Vo">
	insert into log_chat_file(userid, logdate, s3filename, ip)
		values (#{userid}, #{logdate}, #{s3filename}, #{ip}) 
	</insert>
	
</mapper>