<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	도메인마다 namespace 를 구현하고
	각각의 crud 에 대한 id 설정 후 쿼리 작성
-->

<mapper namespace="com.singer.mappers.SM01">		
		<insert id="insert"  parameterType="com.singer.vo.SM01Vo">
			insert into SM01 (userid, passwd, adminyn, username, brth, regdate, phone, email, usertype)
			values (#{userid}, #{passwd}, #{adminyn}, #{username}, #{brth}, #{regdate}, #{phone}, #{email},'04') 
		</insert>
		
		<update id="update" parameterType="com.singer.vo.SM01Vo">
		update SM01 
			set username = #{username},
				brth = #{brth},
				phone = #{phone},
				email = #{email}
			 <if test="passwd != null">
			 	, passwd = #{passwd}
			 </if>
		where userid  = #{userid}
		</update>
	
		
		<select id="selectOne" resultType="com.singer.vo.SM01Vo" parameterType="com.singer.vo.SM01Vo">
			select 
				*
			 from SM01
			 where userid = #{userid}
			 <if test="passwd != null">
			 	and passwd = #{passwd}
			 </if>
		</select>
		
		<select id="select" resultType="com.singer.vo.SM01Vo"  parameterType="com.singer.vo.SM01Vo">
			select S1.*
			 from (
			select 
				rownum as rown,
				userid as userid,
				passwd as passwd, 
				adminyn as adminyn, 
				username as username, 
				brth as brth, 
				grade as grade, 
				regdate as regdate,
				phone as phone, 
				email as email,
				usertype as usertype,
				count(*) over() as totCnt
			 from SM01
			 order by regdate
			) S1 where S1.rown between 
			#{startRownum} + 1 and #{endRownum}
		</select>
		
		<delete id="delete" parameterType="com.singer.vo.SM01Vo">
			delete from SM01
			where userid = #{userid}
		</delete>
		
		<update id="insertImage" parameterType="java.util.HashMap">
			update SM01 
			set photo = #{photo}
			where userid  = #{userid}
		</update>
		
		<select id="selectImage" parameterType="com.singer.vo.SM01Vo" resultType="java.util.Map">
			select photo from SM01 where userid  = #{userid}
		</select>
</mapper>