<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.singer.mappers.SM02">	
	<insert id="insert"  parameterType="com.singer.vo.SM02Vo">
		insert into SM02 (seq,userid, title, text, regdate)
		values (SEQ_SM02.NEXTVAL ,#{userid}, #{title}, #{text}, #{regdate}) 
	</insert>
	
	<select id="selectOne" resultType="com.singer.vo.SM02Vo" parameterType="com.singer.vo.SM02Vo">
		select 
			*
		 from SM02
		 where userid = #{userid}
		and text = #{text}
		and regdate = #{regdate}
	</select>
	
	<select id="select" resultType="com.singer.vo.SM02Vo"  parameterType="com.singer.vo.SM02Vo">
		<![CDATA[
			select T.* from
				(select S.*,
   				 rownum as rown
					from
					(select /*+ index_desc(SM02 IDX_SM02_1)*/
               	 	seq as seq,
					userid as userid,
					title as title,
					text as text, 
					regdate as regdate,
					count(*) over() as totCnt
			 		from SM02 
 					where userid = #{userid}
					) S where rownum <= #{endRownum}
        		) T where T.rown >= #{startRownum} 
  			]]>
	</select>
		
	<delete id="delete" parameterType="com.singer.vo.SM02Vo">
		delete from SM02
		where seq = #{seq}
		and userid = #{userid}
	</delete>
	
	<update id="update" parameterType="com.singer.vo.SM02Vo">
		update SM02 
			set title = #{title},
			text = #{text}
		where userid  = #{userid}
	</update>
</mapper>