<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	도메인마다 namespace 를 구현하고
	각각의 crud 에 대한 id 설정 후 쿼리 작성
-->

<mapper namespace="com.singer.mappers.SMI1">		
		
		<resultMap type="com.singer.domain.entity.sm.SM01Entity" id="SM01EntityResult">
			<result column="userid" property="userid"/>
			<result column="username" property="username"/>
			<result column="passwd" property="passwd"/>
			<result column="brth" property="brth"/>
			<result column="regdate" property="regdate"/>
			<result column="email" property="email"/>
			<result column="grade" property="grade" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
			<result column="usertype" property="usertype" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
			<result column="pfnum" property="pfnum"/>
			<result column="pcnum" property="pcnum"/>
			<result column="pbnum" property="pbnum"/>
		</resultMap>

		<select id="selectByBrth" resultMap="SM01EntityResult" parameterType="com.singer.domain.entity.sm.SM01Entity">
				SELECT /*+ LEADING(T1 S1) USE_NL(S1) */
					T1.userid,
					T1.username,
					T1.brth,
					T1.email,
					T1.regdate,
					T1.grade,
					S1.pfnum AS pfnum,
					S1.pcnum AS pcnum,
					S1.pbnum AS pbnum
				FROM SM01 T1
				LEFT OUTER JOIN SMI1 S1
					ON T1.userid = S1.userid AND S1.infocode = 1
				WHERE T1.brth = #{brth}
					AND NOT EXISTS (
						SELECT /*+ UNNEST NL_AJ */ 1
						FROM SME1 E1
						WHERE T1.userid = E1.userid
					)
		</select>
		
		
		<select id="selectByName" resultMap="SM01EntityResult" parameterType="com.singer.domain.entity.sm.SM01Entity">
				SELECT /*+ LEADING(T1 S1) USE_NL(S1) INDEX(T1 idx_SM01_1) */
					T1.userid,
					T1.username,
					T1.brth,
					T1.email,
					T1.regdate,
					T1.grade,
					S1.pfnum AS pfnum,
					S1.pcnum AS pcnum,
					S1.pbnum AS pbnum
				FROM SM01 T1
				LEFT OUTER JOIN SMI1 S1
					ON T1.userid = S1.userid AND S1.infocode = 1
				WHERE T1.username LIKE #{username} || '%'
					AND NOT EXISTS (
						SELECT /*+ UNNEST NL_AJ */ 1
						FROM SME1 E1
						WHERE T1.userid = E1.userid
					)
		</select>

		<select id="selectByPhone" resultMap="SM01EntityResult" parameterType="com.singer.domain.entity.sm.SM01Entity">
				SELECT /*+ LEADING(T1 S1) USE_NL(S1) INDEX(T1 idx_SMI1_1) */
					S1.userid AS userid,
					S1.username AS username,
					S1.brth AS brth,
					S1.email AS email,
					S1.regdate AS regdate,
					S1.grade AS grade,
					T1.pfnum AS pfnum,
					T1.pcnum AS pcnum,
					T1.pbnum AS pbnum
				FROM SMI1 T1
				INNER JOIN SM01 S1 ON T1.userid = S1.userid
				WHERE T1.pbnum = #{cellpbnum}
					<if test="pcnum != null">
						AND T1.pcnum = #{cellpcnum}
					</if>
					<if test="pfnum != null">
						AND T1.pfnum = #{cellpfnum}
					</if>
					AND T1.infocode = 1
					AND NOT EXISTS (
						SELECT /*+ UNNEST NL_AJ */ 1
						FROM SME1 E1
						WHERE T1.userid = E1.userid
					)
		</select>		
</mapper>