<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	도메인마다 namespace 를 구현하고
	각각의 crud 에 대한 id 설정 후 쿼리 작성
-->

<mapper namespace="com.singer.mappers.SV01">		
		<insert id="insert"  parameterType="com.singer.vo.SV01Vo">
			insert into SV01 (seq, title, text, userid, regdate, multiselect)
			values (#{seq}, #{title}, #{text}, #{userid}, #{regdate}, #{multiselect}) 
		</insert>
		
		<update id="update" parameterType="com.singer.vo.SV01Vo">
			update SV01 
			set title = #{title},
				text = #{text},
				multiselect = #{multiselect}
			where seq = #{seq}
		</update>
	
		<update id="click" parameterType="com.singer.vo.SV01Vo">
			update SV01
			set hit = #{hit} + 1
			where seq = #{seq}
		</update>
	
		<select id="selectOne" resultType="com.singer.vo.SV01Vo" parameterType="com.singer.vo.SV01Vo">	
		select 
    		S1.seq as seq,
    		S1.title as title, 
   			S1.text as text, 
  			S1.userid as userid,
    		S1.regdate as regdate,
    		S1.hit as hit, 
   			S1.multiselect as multiselect
    		from SV01 S1
    	where S1.seq = #{seq}
		</select>
		
		<select id="select" resultType="com.singer.vo.SV01Vo"  parameterType="com.singer.vo.SV01Vo">
		select S1.*
			 from (
			select 
				s1.seq as seq,
				ceil(row_number() over(order by regdate desc) / #{rowPerPage} ) as nowPage,
				s1.title as title, 
				s1.text as text, 
				s1.userid as userid,  
				s1.regdate as regdate,
				s1.hit as hit,
				count(*) over() as totCnt
			 from SV01 s1
			 where 1=1
			 <if test="title != null">
			 	and title like #{title} || '%'
			 </if>
			 <if test="userid != null">
			 	and userid = #{userid}
			 </if>
			) S1 where S1.nowPage = #{nowPage}
		</select>
		
		<delete id="delete" parameterType="com.singer.vo.SV01Vo">
			delete from SV01
			where seq = #{seq}
		</delete>
		
		
</mapper>