<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	도메인마다 namespace 를 구현하고
	각각의 crud 에 대한 id 설정 후 쿼리 작성
-->

<mapper namespace="com.singer.mappers.SV02">		

		<insert id="insert" parameterType="java.util.List">
			insert all 
			<foreach collection="list" item="item">
			into SV02 (seq, idx, content, userid, regdate)
				values 
					(SEQ_SV01.CURRVAL, #{item.idx}, #{item.content}, #{item.userid}, #{item.regdate} )
			</foreach> 
			select * from dual
		</insert>
		
		<insert id="insertSv03Vo" parameterType="java.util.List">
			insert all 
			<foreach collection="list" item="item">
			into SV03 (seq, idx, userid, regdate)
				values 
					(#{item.seq}, #{item.idx}, #{item.userid}, #{item.regdate} )
			</foreach> 
			select * from dual
		</insert>
		
		<update id="update" parameterType="com.singer.vo.SV02Vo">
			update SV02 
			set content = #{content}
			where seq = #{seq}
			and idx = #{idx}
		</update>
		
		<select id="select" resultType="com.singer.vo.SV02Vo"  parameterType="com.singer.vo.SV02Vo">
			<![CDATA[
			select /*+ INDEX(SV03 PK_SV03)*/
				s2.seq as seq,
				s2.idx as idx, 
				s2.content as content,
        		(select count(*) 
        				from SV03 s3
        			where s2.seq = s3.seq
        			and s2.idx = s3.idx
        		) as voted
			 from SV02 s2
			 where s2.seq = #{seq}
			  ]]>
		</select>
		
		<select id="selectTot" resultType="java.lang.Integer"  parameterType="com.singer.vo.SV02Vo">
			<![CDATA[
			select /*+ INDEX(SV03 PK_SV03)*/
				count(*) as totVoted
				from SV03
			 where seq = #{seq}
			 ]]>
		</select>
		
		<delete id="delete" parameterType="com.singer.vo.SV02Vo">
			delete from SV02
			where seq = #{seq}
			and idx = #{idx}
		</delete>
		
		
</mapper>